<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Add appoinments</title>
</head>
<body>
    <h2>Add Appointment for {{ patient.name }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>

    
</body>
</html>